#viewport{
    height: 650px;
    width: 500px;
    display: flex;
    position: absolute;
    
}



#root {
    height: 650px;
    width: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    top: 100px;
    left: 680px;
}

.btn.active {
    background-color: red;
}